POSTGRES_USER=fx
POSTGRES_PASSWORD=fxpass
POSTGRES_DB=fxdata
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


AIRFLOW_DB=airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

#   python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=YlCImzjge_TeZc7jPJ7Jz5muSjvjFspW2_XpnlJnKvY=

DATA_START_DATE=2015-01-01

# Только для Linux: укажите здесь ваш UID хоста, чтобы Airflow мог записывать в ./airflow/logs.
# На macOS/Windows оставьте пустым (по умолчанию используется 50000).
AIRFLOW_UID=
